.hideModal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 20%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rbg(0,0,0);
  background: rgba(0,0,0, .75);
}

.div {
  width: 50em;
  margin: auto;
}

.content {
  font-size: 1.5em;
  padding: 1em;
  /* display: flex; */
  /* flex-direction: column; */
}

h1 {
  background-color: #4b0c52;
  color: #fff; 
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: .5em;
  margin: 0;
}

p {
  margin: 0.5em 0 2em;
}

.btn-holder {
  justify-content: flex-end;
  display: flex;
}

button {
  font: inherit;
  color: #fff;
  background-color: #4b0c52;
  padding: .1em 1em;
}